/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}

:root{
    --konit-font: "Kanit", sans-serif;
    --inter-font: "Inter", sans-serif;
    --raleway-font: "Raleway", sans-serif;

    --main-purple: #6C63FF;
    --white: #F7F7F7;
    --blakc: #252525;
    --placeholder-color: #C3C1E5;
}

html{
    --bg-color: #fff;
    --modal-border-color: #fff;

    --placeholder-color: #C3C1E5;

    --text-color: #252525;
    --checked-task-color: rgba(25,25,25,0.5);
    --input-bg-color: #fff;
}

html[data-theme="dark-theme"]{
    --bg-color: #252525;
    --modal-border-color: var(--main-purple); 
    
    --placeholder-color: #6C63FF;

    --text-color: #F7F7F7;
    --checked-task-color: rgba(255,255,255,0.5);
    --input-bg-color: #252525;
}

::selection{
    background-color:var(--main-purple);
    color: var(--white);
}
*{
    cursor: url("/static/icons/cursor-pointer.png"), auto;
}
/* Homepage styles */
body{
    color: var(--text-color);
    background-color: var(--bg-color);
}

.container{
    position: relative;

    width: 50%;
    margin: 0 auto;
    height: 100vh;

    font-family: var(--konit-font);
    font-size:26px;
}

.head{
    margin-top: 50px;
}

.head > h1{
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin-bottom: 25px;
}
.input-field{
    width: 100%;

    height: 40px;
    outline: none;
    border: 2px solid var(--main-purple);
    border-radius: 5px;
    padding: 8px 16px;

    font-size: 16px;
    font-weight: 500;
    font-family: var(--inter-font);
    font-style: normal;

    color:var(--main-purple);
    background-color: var(--input-bg-color);

    transition: filter 0.3s ease-in-out;
}

.input-field::placeholder{
    color: var(--placeholder-color);
}
.input-field:focus{
    filter:drop-shadow(0px 0px 4px #6C63FF);
}

.search-field{
    display: flex;
    gap: 15px;
}

.search{
    flex: 2;
    flex-shrink: 1;

    background-image: url("/static/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 98%, center;
}
.select{
    width: 85px;
    height: 40px;
    outline: none;
    background-color: var(--main-purple);
    border: none;
    border-radius: 5px;

    font-size: 18px;
    font-weight: 500;
    font-style: normal;

    color:white;

    padding: 10px;

    transition: background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}
.select:hover{
    background-color: #5850dd;
    box-shadow: 0 0 10px var(--main-purple);
}
.theme-changer{
    outline: none;
    border: none;
    border-radius: 5px;
    width: 38px;
    
    background-color: var(--main-purple);

    transition: background-color 0.2s ease-in-out,
                box-shadow 0.2s ease-in-out;
}

.theme-changer:hover{
    background-color: #5850dd;
    box-shadow: 0 0 10px var(--main-purple);
}

.no-note{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}
.no-note-image{
    width: 220px;
    height: 175px;
    background-image: url("/static/images/detective-light.png");
    background-repeat: no-repeat;
}

.no-note-text{
    margin-top: 25px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}


/* PROJECT SECTION */
.projects-list{
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
}

/* CUSTOM CHECKBOX */
.project{
    display: flex;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid var(--placeholder-color);
    position: relative;
}

.project:nth-last-child(1) {
    border-bottom: none;
}
.project:hover > .edit-pen-icon,
.project:hover > .trash-icon {
    display: block;
}

.checkbox-container{
    display: block;
    position: relative;
    padding-left: 45px;
    font-size: 22px;
    height: 30px;
    display: flex;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex: 1.5;
}
.checkbox-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container .checkbox-label{
    width: 70%;
    max-width: 30ch;
    text-overflow: ellipsis;

    white-space: nowrap;
    overflow: hidden;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 1px solid var(--main-purple);
    border-radius:2px;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: var(--placeholder-color);
}

.checkbox-container input:checked ~ .checkmark {
    background-color: var(--main-purple);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-container input:checked ~ .checkbox-label {
    color: var(--checked-task-color);
    text-decoration: line-through;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 3px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.edit-pen-icon, .trash-icon{
    display: none;
    width: 30px;
    height: 13px;
    scale: 1.4;
    transition: scale 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.edit-pen-icon:hover{
    filter: brightness(0) saturate(100%) invert(41%) sepia(51%) saturate(3747%) hue-rotate(226deg) brightness(99%) contrast(106%);
    scale: 1.7;
}
.edit-pen-icon[src='/static/icons/success.svg']:hover {
    filter: brightness(0) saturate(100%) invert(81%) sepia(35%) saturate(6996%) hue-rotate(81deg) brightness(111%) contrast(116%);
    scale: 1.7;
}
.trash-icon:hover{
    filter: brightness(0) saturate(100%) invert(10%) sepia(98%) saturate(7498%) hue-rotate(16deg) brightness(95%) contrast(115%);
    scale: 1.7;
}

.add-btn-container{
    position: absolute;
    top: 84vh;
    left: 91%;
    width: 50px;
    height: 50px;

    background-color: var(--main-purple);

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}
.add-btn-container:hover{
    background-color: #5850dd;
    box-shadow: 0 0 10px var(--main-purple);
}
/* MODAL STYLING */
.modal-container{
    width: 100%;
    min-height: 100vh;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(37, 37, 37, 0.7);

    display: flex;
    justify-content: center;
    /* align-items: center; */

    opacity: 0;
    z-index: -100;
}

.modal{
    border: 1px solid var(--modal-border-color);

    width: 500px;
    height: 300px;
    
    background-color: var(--bg-color);
    border-radius: 16px;

    font-family: var(--konit-font);

    padding: 18px 31px;

    margin-top: 120px;
}

.modal-form{
    display: flex;
    flex-direction: column;
}

.main-form-title{
    margin-bottom: 30px;
    text-align: center;
    
    font-weight: 500;
    font-size: 24px;
}

.form-actions{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.modal-btn{
    font-size: 18px;
    font-weight: 600;

    width: 120px;
    height: 45px;

    border-radius: 5px;
    border: 1px solid var(--main-purple);
}

.apply{
    background-color: var(--main-purple);
    color: var(--white)
}

.cancel{
    color: var(--main-purple);
    background-color: var(--bg-color);
}

.modal-container.open{
    opacity: 1;
    z-index: 999;
}

/* TEST DELETION AREA */
.undo-deletion{
    font-family: var(--raleway-font);

    width: 180px;
    height: 60px;

    display: flex;
    align-items: center;
    gap: 5px;

    background-color: #534CC2;
    padding: 10px;

    border-radius: 4px;

    position: fixed;
    top: 89vh;

    animation: appear-undo-animation 0.3s forwards ease-in;
}

@keyframes appear-undo-animation {
    from{
        top: 90vh;
        opacity: 0;
    }
}

.undo-deletion:hover{
    background-color: #5850dd;
    box-shadow: 0 0 10px var(--main-purple);
}

#undo-text{
    color:var(--white)
}

#undo-text::after{
    content: url("/static/icons/undo.svg");
    display: inline-block;
    scale: 1.5;
    position: relative;
    left: 10px;
    bottom: 3px;
}

/* TIMER ELEMENT */
.timer-container {
    position: relative;
    width: 50px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 5px;
  }
  
  .progress-ring {
    flex-shrink: 0;
  }
  
  .timer-text {
    /* margin-left: 10px; */
    position: relative;
    left: -26px;
    top: -2px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  
/* CIRCLE STYLING */
.spining-circle{
    width: 55px;
    height: 55px;

    position: absolute;
    right: -65px;
}

/* PROJECTS INPUT BLOCKS STYLES */
.visible-input{
    display: flex !important;
}

.project-input-block{
    width: 100%;
    height: 100%;

    display: none;
    align-items: center;
    gap: 5%;
}

.project-input-field{
    height: 50%;
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
    text-transform:uppercase;

    outline: none;
    border: none;
    border-bottom: 1px solid var(--main-purple);
}