<%- include("partials/header.ejs") %>

<section class="container">
    <div class="head">
        <h1>TODO LIST</h1>
        <div class="search-field">
            <input class="search" type="text" name="search-note" placeholder="Search note...">
            <select class="select" name="filter-note" id="filter">
                <option value="all" selected>ALL</option>
                <option value="complete">COMPLETE</option>
                <option value="incomplete">INCOMPLETE</option>
            </select>
            <button class="theme-changer"><img src="/static/icons/moon.svg" alt="moon icon"></button>
        </div>
    </div>

    <% if(locals.projects){ %>
    <div class="projects-list">
        <div class="projects">
            <% for(let project of projects) {%>
            <div class="project">
                <label class="checkbox-container">
                    <%= project.name %>
                    <% if(project.isDone) {%>
                        <input type="checkbox" checked="checked">
                    <%}else{ %>
                        <input type="checkbox"> 
                    <% } %>
                    <span class="checkmark"></span>
                </label>

                <img class="edit-pen-icon" src="/static/icons/pen.svg" alt="Edit pen icon!">
                <img class="trash-icon" src="/static/icons/trash.svg" alt="Trash icon!">
            </div>
            <% } %>
        </div>
    </div>
    <% }else{ %>
        <div class="no-note">
            <div class="no-note-image"></div>
            <p class="no-note-text">Empty...</p>
        </div>
    <% } %>
</section>

<%- include("partials/footer.ejs") %>